:root {
    font-size: 16px;
    --typing-font-size: 2.5rem;
    --bg-color: white;
    --text-color: black;
    --share-button-bg: blue;
}

.dark-mode {
    --bg-color: black;
    --text-color: white;
    --share-button-bg: red;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.typing-stage {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.typing-stage .game-container {
    width: 100%;
}

button {
    /* padding: 1rem 0; */
    cursor: pointer;
    /* margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; */
    margin: 1rem 0;
    padding: 0, 0;
    font-size: 16px;
    /* call --bg from global */
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    text-decoration-color: currentColor;
    text-decoration-skip-ink: none;
}

button:hover {
    background-color: grey;
}

button:focus { 
    outline: none;
    box-shadow: none;
}

.mode-group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.panel-anchor {
    position: relative;
    display: inline-flex;
    align-items: center;
}
.mode-toggle {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.mode-panel {
    position: absolute;
    left: 0;
    bottom: calc(100% + 4px);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-color);
    font-size: 1rem;
}

.mode-panel .mode-button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 0;
}

.mode-panel .mode-button.active {
    background-color: blue;
    color: transparent;
}

.dark-mode .mode-panel .mode-button.active {
    background-color: red;
    color: transparent;
}

.mode-panel .mode-button.active:hover {
    background-color: blue;
    color: transparent;
}

.dark-mode .mode-panel .mode-button.active:hover {
    background-color: red;
    color: transparent;
}

.mode-panel .mode-button:hover {
    background-color: grey;
}

.mode-panel .mode-button:focus-visible {
    outline: none;
}

.wpm-paste {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.copy-button{
    background-color: var(--share-button-bg);
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: lowercase;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.copy-button:hover {
    background-color: grey;
    color: var(--text-color);
}

.punctuation-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    border: none;
    background-color: white;
    color: black;
	font-size: 1rem;
	cursor: pointer;
}

.dark-mode .dropdown-button{
    background-color: black;
    color: white;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid black;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding: 0.5rem;
	min-width: 100px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.option {
	padding: 0.25rem 0;
	cursor: pointer;
}

.option:hover {
	background-color: #eee;
}

.user-input{
    color: grey;
}

.output{
    color: black;
}


.hidden {
    display: none;
}

.typing-wrapper {
    /* display: flex; focus on this later, want it so that when user zooms in the block stays good */
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 65rem;
    font-size: var(--typing-font-size);
    line-height: 1.2;
    min-height: calc(var(--typing-font-size) * 1.2 * 2);
    max-height: calc(var(--typing-font-size) * 1.2 * 12);
    overflow: hidden;
}

.typed-text {
    position: relative;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* height: 200px; */
    height: auto;
    pointer-events: none;

    white-space: pre-wrap;
    overflow-wrap: pre-wrap;
    word-break: normal;

    display: inline-block;
    transform: translateY(0);


    font-size: var(--typing-font-size);
    line-height: 1.2;
    color: grey;
    padding: 0;
    margin: 0;
    border: none;
    resize: none;
    outline: none;

    letter-spacing: 0.05rem; 
} 

.dark-mode .typed-text {
    color: grey;
}

.completion-indicator {
    margin-left: 0.35rem;
    font-weight: 600;
}

.completion-indicator.wrong {
    color: black;
}

.dark-mode .completion-indicator.wrong {
    color: white;
}

.completion-indicator.correct {
    color: black;
}

.dark-mode .completion-indicator.correct {
    color: white;
}

.caret{
    /* display: inline-block; */
    position: absolute;
    width: 0.2rem;
    height: var(--typing-font-size);
    margin-left: 0;
    background: blue;
    vertical-align: text-top;
    animation: blink 1s step-end infinite;

    transition: opacity 0s ease-out, left 0.09s ease-out, top 0.09s ease-out;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
} 

.dark-mode .caret{
    background: red;
}

.correct{
    background: transparent;
    color: black;
}

.dark-mode .correct{
    background: transparent;
    color: white;
}

.wrong{
    background-color: red;
    color: black;
}

.dark-mode .wrong{
    background: blue;
    color: white;
}

.tombstone{
    color: black;
}

.dark-mode .tombstone{
    color: white;
}
