header,
.page-header {
    text-align: center;
}

.page-button {
    padding: 0 0;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
}

.dark-mode .page-button {
    background-color: black;
    color: white;
}

.page-button:hover {
    background-color: grey;
}

.page-footer > * {
    margin: 0;
}