/* header */

header {
    text-align: center;
}

h2 {
    margin: 1rem 0;
}

.page-button {
    padding: 0 0;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    font-size: 16px;
}

.dark-mode .page-button {
    background-color: black;
    color: white;
}

.page-button:hover {
    background-color: grey;
}

/* doing this manually, 1rem + (difference between size 16px vs 24px when centered vertically) = 1rem + 4px */
#home-button { 
    position: absolute;
    top: calc(1rem + 4px);
    left: calc(1rem + 4px);
    margin: 0;
}

#dark-toggle {
    position: absolute;
    top: calc(1rem + 4px);
    right: calc(1rem + 4px);
    margin: 0;
}


/* footer */

footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between; 
    gap: 0.6rem;
}