:root {
    --bg-color: white;
    --color: black;
    --grid-size: 11; /* 5 + 1 */
    user-select: none;
}

.dark-mode {
    --bg-color: black;
    --color: white;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-bar{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    min-width: 84vmin;
    min-height: 84vmin;
    /* table-layout: fixed; */
    border-collapse: collapse;
    background-color: var(--bg-color);
    color: var(--color);
    margin: 0;
    padding: 0;
    /* border: none; */
}

/* td {
    border: 1px solid var(--color);
    padding: 0 !important;
} */

tr td:not(:first-child):nth-child(5n + 2) {
    border-left: 3px solid var(--color);
}

tr td:last-child {
    border-right: 3px solid var(--color);
}

table tr:nth-child(5n + 2) td {
    border-top: 3px solid var(--color);
}

table tr:last-child td {
    border-bottom: 3px solid var(--color);
}

.corner {
    width: 1px;
    height: 1px;
}

.top {
    vertical-align: bottom;
    font-weight: bold;
    min-width: 1rem;
    /* font-size: 10px;  */
}

.top.wrong {
    background-color: red;
}

.dark-mode .top.wrong {
    background-color: blue;
}

.side {
    text-align: right; 
    font-weight: bold;
    min-height: 1rem;
    /* font-size: 10px; */
}

.clicked {
    background-color: blue;
}

.dark-mode .clicked {
    background-color: red;
}

.greyed {
    background-color: #C0C0C0;
}

.dark-mode .greyed{
    background-color: #454545;
}

.marked {
    position: relative;
}

.marked::after {
    content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: black;
    pointer-events: none;
}

.dark-mode .marked {
    position: relative;
}

.dark-mode .marked::after {
    content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    pointer-events: none;
}

.highlight {
    position: relative;
}

.highlight::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: black;
    pointer-events: none;
}

.top.highlight{
    background-color: black;
    color: white;
}

.top.highlight::after {
    content: none;
}

.side.highlight{
    background-color: black;
    color: white;
}

.side.highlight::after {
    content: none;
}

.dark-mode .highlight {
    position: relative;
}

.dark-mode .highlight::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
    pointer-events: none;
}

.dark-mode .top.highlight{
    background-color: white;
    color: black;
}

.dark-mode .top.highlight::after {
    content: none;
}

.dark-mode .side.highlight{
    background-color: white;
    color: black;
}

.dark-mode .side.highlight::after {
    content: none;
}

/* .top .highlight{
    background-color: black;
    color: white;

}

.dark-mode .highlight {
    background-color: purple;
} */

