.shop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 9999;
}

.shop-header{
    text-align: center;
}

#close-shop {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0px;
}
  
.shop.active {
    display: flex;
}

.shop-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 2rem;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto 0 auto; /* center horizontally */
    text-align: center;
}
  
  
.shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 150px; */
}

body.shop-open main,
body.shop-open header,
body.shop-open footer,
body.shop-open #credit-counter {
    display: none;
}