body {
    margin: 0;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* card grid  */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    max-width: 800px;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .card-grid > .card:nth-child(-n + 3) {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 481px) {
    .card-grid > .card:nth-child(-n + 2) {
        padding-top: 0;
    }
}

.card-grid:has(.card:nth-child(1):last-child),
.card-grid:has(.card:nth-child(2):last-child) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.card-grid > .card:first-child {
    padding-top: 0;
}

.dark-mode .card {
    background-color: black;
}
